:root {
    --cor: black;
}

/*      navBar   */
.nav-bar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    height: 10vh;
    align-items:center;
   
    
    background-color:rgb(17, 8, 21);
  
}


.menu-li {
    display: flex;
    margin-right: 50px;
}
.menu-li >li {
    margin: 20px;
    
}

a{
    color: plum;
    
    font-size: 15px;
    transition: 0.2s;
}


a:hover{
   
color:white;

}


/*          conteudo            */


.main-container{  
}


.conteudo{
    font-size: 18px;
    text-align: center;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items:center;

}

/*         imagem      */
.img-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 15px 15px 15px rgba(137, 51, 133, 0.3); /*coloca sobreamento nos elemento*/
    
   
}

.botoes {
   
    display: flex;
    flex-direction: row;
    justify-content:center; 
    height: 10vh;
    align-items:center;
    
    
    
}


.icon:hover{
border: 2px solid white;
/*transform: translate(-10px -10px);*/
/*box-sizing: border-box;*/

}



















